<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Exclude deploy/deploy.php from rewrite
    RewriteRule ^deploy/deploy\.php$ - [L]

    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>