option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:ec2:instances:
    InstanceTypes: t3.medium
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    LowerThreshold: 20
    UpperThreshold: 80
  aws:elasticbeanstalk:application:environment:
    APP_ENV: "local"
    APP_KEY: "base64:URkwO+6XOzNKY2/AwFWQbi2irhmdRWLSaj5ksqa3R08="
    APP_DEBUG: "true"
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:058264509696:certificate/14da0eb8-fe58-496c-a307-382bb649076b

